*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#wrapper {
    /* position: absolute; */
    width: 1280px;
    height: 2000px;
    margin: auto;
    border: 1px solid #090;
}
header {
    height: 150px;
    border: 1px solid magenta;
    position: fixed;
}
.logo__wrapper {
    display: inline-flex;
    position: fixed;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}
.main-menu {
    margin-left: 200px;
    display: inline-flex;
    /*  */
    height: 150px;
    /* border: 3px solid blue; */
    align-items: flex-end;
}
.main-menu__wrapper {
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    /* margin-top: 40px; */
    height: 40px;

    border: 1px solid red;
}
.main-menu-list__wrapper {
    display: none;
    position: absolute;
    border: 5px solid blue;
}
.main-menu-list__wrapper_clients {
}
.main-menu__header {
    display: inline-block;
    width: 150px;
    /* margin-top: 10px; */
    /* height: 40px; */
    /* padding-top: 4px; */
    text-align: center;
    /* border: 1px solid red; */
}
.main-menu__header::selection {
    background: transparent;
}
.arrow-wrapper {
    /* display: inline-block; */
    display: flex;
    width: 40px;
    border-left: 1px solid blue;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* margin-left: -4px; */
    /* border: 1px solid blue; */
}
.arrow-wrapper:hover {
    cursor: pointer;
}

.arrow {
    /* margin-left: 14px;
    margin-top: 10px; */
}
.arrow::selection {
    background: transparent;
}


.main-part__wrapper {
    display: flex;
}
.search-and-status {
    position: fixed;
    display: flex;
    align-items: center;
    width: 1280px;
    top: 150px;
    height: 60px;
    border: 1px solid red;
}
.search {

    /* border: 2px solid green; */
    height: 60px;
    box-sizing: border-box;
    /* overflow: hidden; */

}
.search__button {
    display: inline-block;
    width: 40px;
    height: 40px;
     margin-top: 7px;
    border:  1px solid black;
    background: white;
}
.search__button:hover {
    cursor: pointer;
}
.search__text {
    display: inline-block;
    position: relative;
    width: 180px;
    bottom: 16px;
    height: 40px;
    border-collapse: collapse;
    border: 1px solid blue;
    padding-left: 10px;
    padding-right: 10px;
    /* line-height: 60px; */
}
.current-location {
    display: inline-block;
    width: 20px;
    height: 40px;
    /* border: 2px solid pink; */
    line-height: 40px;
}
.catalog {
    display: inline-block;
    position: fixed;
    top:240px;
    width: 200px;
}
.catalog__header {
    text-align: center;
    height: 40px;
}
.catalog__category {
    height: 40px;
    border: 1px solid red;
    transition: all 1s;
}
.catalog__category__list {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}
.catalog__category__list-wrapper {
    transform: rotateX(90deg);
    transform-origin: top;
    /* transition: all 1s; */
}
.catalog__category__item {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid gray;
}
.catalog__category:hover {
    cursor: pointer;
}
.catalog__category__header {
    line-height: 40px;
    margin-left: 10px;
    height: 40px;
}
