*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#wrapper {
    /* position: absolute; */
    width: 1280px;
    margin: auto;
    border: 1px solid #090;
}
header {
    height: 150px;
    border: 1px solid magenta;
}
.logo {
    display: inline-block;
    width: 200px;
    height: 100%;
    border: 1px solid yellow;
}
.main-menu {
    display: inline-flex;
    height: 150px;
    border: 5px solid blue;
    /* align-items: flex-end; */
}
.main-menu__wrapper {
    margin-top: 10px;
}
.main-menu-list__wrapper {
    display: none;
    position: absolute;
    border: 5px solid blue;
}
.main-menu-list__wrapper_clients {
}
.main-menu__header {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid red;
}
.arrow-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;;
    border: 1px solid blue;
}
.arrow-wrapper:hover {
    cursor: pointer;
}
.arrow {
    position: relative;
    top: 8px;
    text-align: center;
    /* border: 1px solid red;       */
}

.catalog {
    display: inline-block;
    width: 200px;
}
.catalog__header {
    text-align: center;
}
.catalog__category {
    border: 1px solid red;
}
.main-part__wrapper {
    display: flex;
}
.search-and-status {
    border: 1px solid red;
}
.search__button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border:  2px solid black;
}
.search__text {
    height: 30px;
    margin-top: -10px;
}
.current-location {
    display: inline-block;
    width: 100%;
    border: 2px solid pink;
}